* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/* Container for header & filter options */

.headerContainer {
    display: block;
    border-bottom: 5px solid black;
    text-align: center;
    min-width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.selectedMuscle {
    margin: auto;
    user-select: none;
    text-align: center;
    margin-bottom: 5px;
}

/* Container for everything on page */

.content {
    display: flex;
    justify-content: center;
}

/* Container for exercise responses */

.workoutList {
    border: 1px solid black;
    border-radius: 2px;
    margin: 5px;
    background-color: #add8e6;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    border: 1px solid black;
    align-items: center;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    padding: 2px;
    margin: 2px;
}

/* Container for each individual exercise */

.workoutBlock {
    border: 1px solid black;
    border-radius: 2px;
    background-color: lightgray;
    min-width: 325px;
    max-width: 325px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    max-width: 350px;
    margin-bottom: 0;
}

img {
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(236, 236, 236);
    color: darkgray;
    text-align: center;
}

/*

"Added function for searchButton to clear exerciseList onclick with jQuery .empty()"


*/